# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Environment variables
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Database
db.sqlite3

# Static/media
media/
staticfiles/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/